
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  
  <link rel="stylesheet" href="..\static\css\home.css">
  <title>TRACK FIN</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="#hero">
            <h1><span>T</span>RACK <span>F</span>IN</h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <li><a href="#hero" data-after="Home">Home</a></li>
         
            <LI><a href="/signin" data-after="Login">-Login-</a></LI>
          </ul>
        </div<>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
    
        <h1>Welcome To <span></span></h1>
        <h1>Personal Expense Tracker Application <span></span></h1>
        <a href="/signup" type="button" class="cta">Register here</a> 
      </div>
    </div>
  </section>
  

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>T</span>RACK <span>F</span>IN</h1>
      </div>
      <h2>Track Your Expenses To Stick To Your Budget!</h2>
    
   <!--End Footer -->
  <script src="..\static\js\home.js"></script>
</body>

</html>
